/* screen - homepage-mobile */

.homepage-mobile {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 3624px;
  overflow: hidden;
  width: 428px;
}

.homepage-mobile .overlap-group-container {
  align-self: flex-start;
  flex-direction: column;
  gap: 11px;
  min-height: 888px;
  width: 452px;
}

.homepage-mobile .overlap-group5 {
  height: 441px;
  position: relative;
  width: 428px;
}

.homepage-mobile .menu-phone {
  align-items: center;
  background-color: var(--black-2);
  display: flex;
  height: 72px;
  left: 0;
  padding: 0 21px;
  position: absolute;
  top: 0;
  width: 428px;
}

.homepage-mobile .logo {
  height: 48px;
  width: 68px;
}

.homepage-mobile .icon-search {
  height: 36px;
  margin-left: 218px;
  margin-top: 4.0px;
  width: 36px;
}

.homepage-mobile .group-247 {
  height: 23px;
  margin-left: 27px;
  width: 36px;
}

.homepage-mobile .vector {
  height: 298px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 428px;
}

.homepage-mobile .vector-1 {
  height: 276px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 428px;
}

.homepage-mobile .deska_mesice {
  height: 180px;
  left: 133px;
  position: absolute;
  top: 100px;
  width: 180px;
}

.homepage-mobile .group-24 {
  align-items: flex-start;
  display: flex;
  min-width: 224px;
}

.homepage-mobile .overlap-group {
  height: 146px;
  position: relative;
  width: 220px;
}

.homepage-mobile .vector-20 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 54px;
  width: 25px;
}

.homepage-mobile .heading {
  height: 146px;
  left: 0;
  letter-spacing: 0;
  line-height: 145.8px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.homepage-mobile .heading-1 {
  left: 68px;
  letter-spacing: 0;
  line-height: 32.4px;
  position: absolute;
  top: 78px;
  white-space: nowrap;
  width: 152px;
}

.homepage-mobile .vector-19 {
  height: 3px;
  left: 2px;
  position: absolute;
  top: 92px;
  width: 63px;
}

.homepage-mobile .group-23 {
  height: 441px;
  left: 0;
  position: absolute;
  top: 0;
  width: 428px;
}

.homepage-mobile .overlap-group-container-1 {
  height: 554px;
  position: relative;
  width: 428px;
}

.homepage-mobile .overlap-group-1 {
  background-image: url(../img/electric@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 322px;
  left: 0;
  min-width: 271px;
  padding: 141.3px 82.5px;
  position: absolute;
  top: 0;
}

.homepage-mobile .produkty {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 64px;
}

.homepage-mobile .overlap-group1 {
  align-items: flex-start;
  background-image: url(../img/electric-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 322px;
  justify-content: flex-end;
  left: 182px;
  min-width: 246px;
  padding: 141.3px 61px;
  position: absolute;
  top: 0;
}

.homepage-mobile .poardna {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 57px;
}

.homepage-mobile .overlap-group2 {
  align-items: flex-start;
  background-image: url(../img/electric-3@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 322px;
  left: 49px;
  min-width: 313px;
  padding: 141.3px 131.5px;
  position: absolute;
  top: 232px;
}

.homepage-mobile .artists {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 50px;
}

.homepage-mobile .frame-container {
  align-items: flex-start;
  display: flex;
  gap: 46px;
  height: 160px;
  margin-top: 88px;
  min-width: 374px;
}

.homepage-mobile .frame-51 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.homepage-mobile .frame-314 {
  background-image: url(../img/frame-314-32@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 83px;
  min-width: 164px;
  position: relative;
}

.homepage-mobile .frame-345 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.homepage-mobile .frame-308 {
  height: 16px;
  min-width: 80px;
  position: relative;
}

.homepage-mobile .address {
  height: 21.82px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: 74px;
}

.homepage-mobile .acoustic-12-st-bronze-10-47 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -3px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage-mobile .price {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -3px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.homepage-mobile .frame-51-1 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.homepage-mobile .frame-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 46px;
  height: 160px;
  margin-top: 56px;
  min-width: 374px;
}

.homepage-mobile .wyswig_homepage_mobile {
  display: flex;
  flex-direction: column;
  height: 349px;
  margin-top: 115px;
  width: 348px;
}

.homepage-mobile .frame-482 {
  background-image: url(../img/frame-482@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 192px;
  margin-left: 24px;
  width: 286px;
}

.homepage-mobile .coated-struny {
  height: 45px;
  letter-spacing: 0;
  line-height: 45px;
  margin-left: 99px;
  margin-top: 16px;
  text-align: center;
  white-space: nowrap;
  width: 144px;
}

.homepage-mobile .lorem-ipsum-dolor-si {
  height: 77px;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 19px;
  text-align: center;
}

.homepage-mobile .wyswig_homepage_mobile-1 {
  display: flex;
  flex-direction: column;
  height: 349px;
  margin-left: 6.0px;
  margin-top: 107px;
  width: 348px;
}

.homepage-mobile .footer-phone {
  align-items: flex-start;
  background-image: url(../img/vector-1.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 800px;
  min-height: 552px;
  padding: 22.0px 19px;
  width: 428px;
}

.homepage-mobile .frame-378 {
  align-items: flex-start;
  display: flex;
  gap: 88px;
  margin-left: 29.5px;
  margin-top: 138px;
  position: relative;
  width: fit-content;
}

.homepage-mobile .frame-35 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: fit-content;
}

.homepage-mobile .poradna {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.homepage-mobile .od-vs {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.homepage-mobile .nae-produkty {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.homepage-mobile .struny {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.homepage-mobile .lifestyle {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.homepage-mobile .gear {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.homepage-mobile .socials {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 1px;
  margin-top: 48px;
  min-width: 143px;
}

.homepage-mobile .social-icon {
  cursor: pointer;
  height: 31px;
  width: 31px;
}

.homepage-mobile .social-icon-1 {
  margin-left: 25px;
}

.homepage-mobile .social-icon-2 {
  margin-left: 26px;
}

.homepage-mobile .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 121px;
  height: 24px;
  margin-top: 40px;
  min-width: 330px;
}

.homepage-mobile .vector-53 {
  align-self: center;
  height: 1px;
  margin-right: 0.5px;
  margin-top: 16px;
  object-fit: cover;
  width: 388px;
}

.homepage-mobile .frame-379 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  gap: 37px;
  margin-right: 21.5px;
  margin-top: 10px;
  position: relative;
  width: fit-content;
}

.homepage-mobile .text {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  width: 202px;
}

.homepage-mobile .copyright {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.homepage-mobile .overlap-group-2 {
  align-items: flex-start;
  display: flex;
}

.homepage-mobile .social-icon-3 {
  cursor: pointer;
  height: 31px;
  width: 31px;
}
